<div class="artist">

<h1><%= @artist.name %> </h1>
  <h3> Songs by <%= @artist.name %></h3>
  <ul>
    <% @artist.songs.each do |song| %>
    <div class="item">
      <div class="content">
        <li class="header"><%= link_to song.title, songs_path + '/' + song.id.to_s %></li>
      </div>
    </div>
    <% end %>
  </ul>

  <hr /> <p>What would you like to do?</p>
  <br />
  <div class="ui primary basic button">
    <%= link_to 'Edit Artist', edit_artist_path(@artist) %>
  </div>


  <div class = 'ui primary basic button'>
    <%= link_to 'Add new song', new_artist_song_path(@artist) %>
  </div>

  <div class="ui negative basic button">
    <%= link_to 'Delete Artist', @artist, method: :delete %>
  </div>

  <div class="ui primary basic button">

    <%= link_to 'Back', artists_path%>
  </div>
</div>
