<div class="artist">
  <h1>Top 100: <%= @chart.name %></h1>

  <button class="ui primary basic button"><%= link_to 'Edit', edit_chart_path(@chart) %></button>
  <button class="ui negative basic button"><%= link_to 'Delete', @chart, method: :delete %>
  <button class="ui primary basic button"><%= link_to 'Back', charts_path %></button>
  <br>


  <table class="ui celled table">
    <thead>
      <tr>
        <th class="right aligned">#</th>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Sales</th>
      </tr>
    </thead>
    <tbody>
      <% @chart.top_100.each_with_index do |song, i| %>
        <tr>
          <td class="right aligned"><%= i+1 %></td>
          <td><%= link_to song.title, songs_path(song.id) %></td>
          <td><%= link_to song.get_artist, artist_path(song.artist_id) %></td>
          <td><%= song.sales %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
