
<div class="artist">

  <%= form_for [@artist, @song] do |f| %>
  <h3> Artist Name here</h3>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, autofocus:true %>
  </div>
    <br />
    <div class="field">
    <%= f.label :genre %>
    <%= f.collection_select :genre, Chart.all, :name, :name, required: true %>
    <br>
    <br>
    <%= f.label :artist %>
    <%= f.collection_select :artist_id, Artist.all, :id, :name, required: true %>

  </div>
    <br />
    <div class="field">
    <%= f.label :sales %>
    <%= f.text_field :sales %>
    </div>
    <br />
  <div class="actions">
    <%= f.submit 'Disco', class: 'ui primary basic button ' %>
  </div>
  <% end %>
</div>
