<div class="artist">

<h1><%= @song.title %> </h1>
<p><%= @song.get_artist %></p>
<p>Genre: <%= @song.genre %></p>
<p>Sales: <%= @song.sales %></p>
<p>Artist Id: <%= @song.artist_id %></p>
<p>Chart Id: <%= @song.chart_id %></p>

</div>
